# Python Önbellek Dosyaları
__pycache__/
*.py[cod]
*$py.class

# Sanal Ortamlar (Virtual Environments)
venv/
env/
.env

# Makine Öğrenmesi / Keras Ağırlık ve Checkpoint Dosyaları
*.h5
*.hdf5
*.weights.h5
training_checkpoints/
logs/

# IDE ve Editör Dosyaları (Spyder, VS Code, vb.)
.spyproject/
.vscode/
.idea/
.ipynb_checkpoints/

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db